@charset "UTF-8";

#box{
	margin-top : 30px;
}

#subject_area{
	float      : left;
	width      : 25%;
	height     : 200px;
	text-align: top;
}

#subject{
	width   :260px;
	height  :200px;
}

#text_area{
	float : right;
	width : 75%;
}

#q_text{
	resize        : none;
	width         : 100%;
	height        : 50px;
	display       : block;
	margin-bottom : 5px;
}

#a_text{
	resize  : none;
	width   : 100%;
	height  : 200px;
	display : block;
}

#btn_insert{
	float      : right;	
	margin-top : 5px;
}
