@charset "UTF-8";
/* main_insert_card */
#top_content{
	width      : 83%;
	height     : 390px;
	margin     : auto;
	margin-top : 87px;
}

#bottom_content{
	width      : 83%;
	min-height : 200px;
	margin     : auto;
	margin-top : 60px;
}

/* insert_card_top_content */
#box{
	margin-top : 30px;
}

#subject_area{
	float      : left;
	width      : 25%;
	height     : 200px;
	text-align: top;
}

#subject{
	width   :260px;
	height  :200px;
}

#text_area{
	float : right;
	width : 75%;
}

#q_text{
	resize        : none;
	width         : 100%;
	height        : 50px;
	display       : block;
	margin-bottom : 5px;
}

#a_text{
	resize  : none;
	width   : 100%;
	height  : 200px;
	display : block;
}

#btn_insert{
	float      : right;	
	margin-top : 5px;
}


/* insert_card_bottom_content */
#semi_card{
	width      : 100%;
	margin     : auto;
	margin-top : 40px;	
}

.table{
	width  : 100%;
	margin : auto;	
	margin-bottom : 40px;
}

th, td{
	width : 100%;
}

#btn_card_insert{
	margin-top    : 30px;
	margin-bottom : 80px;
	margin : 4px;
	text-align: center;
}