@charset "UTF-8";

*{
	margin  : 0px;
	padding : 0px;
}

/* card css */
.card {	
	width        : 100%;
	height       : 600px;
	border-radius: 15px;
}
.card-inner {
	position   : relative;
	width      : 100%;
	height     : 600px;
	text-align : center;
	transition : transform 0.8s;
	transform-style : preserve-3d; 	
	border-radius: 20px;
	
}
.card.flipped .card-inner {
	transform: rotateX(180deg);
}
.card-front, .card-back {
	position : absolute;
	top      : 0%;
	bottom   : 0%;
	width    : 100%;
	height   : 600px;
	background-color : white;
	border-radius    : 10px;
	border			 : 2px solid black;
	box-shadow       : 1px 1px 4px black;
	box-sizing       : border-box;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	font-weight     : bold;
	font-size       : 30px;
	display         : flex;
	align-items     : center;
	justify-content : center;
	line-height     : 30px;
}
.card-back {
	transform: rotateX(180deg);
}


/* slide css */

/* 라디오 버튼 숨김 */
.section [id*=slide]{
	display : none;
}

.section .slideBox{
	max-width  : 800px;
	height     : 600px;
	margin     : auto;
	margin-top : 150px;
	overflow   : hidden;
}

.section .slideList{
	white-space : nowrap;
	font-size   : 0;
	position    : relative;
	width       : 800px;
	height      : 600px;
}

.section .slideList > li{
	display        : inline-block;
	vertical-align : middle;
	width	       : 100%;
	height         : 600px;
	transition     : 0.3s; /* 슬라이드 속도 설정 */
}

.section .slideList label{
	position  : absolute;
	z-index   : 10;
	top       : 50%;
	padding   : 25px;
	cursor    : pointer; /* 마우스가 올라갔을 때, 커서 -> 포인터 변경 */
	border    : 4px solid green;
}


.section .slideList .left{
	left : 30px;
}
.section .slideList .right{
	right : 30px;
}

/* 초기위치 설정값 */
 .section [id="slide1"]:checked ~ .slideBox .slideList > li {
	transform:translateX(0%);
}