@charset "UTF-8";


#card_view{
	height : 850px;
}


/* card */
.card {	
	line-height  : 270px;
	width        : 300px;
	height       : 270px;
	margin       : right;
	margin-right : 250px;
	float        : right;
	margin-top   : 200px;
}
.card-inner {
	position   : relative;
	width      : 100%;
	height     : 100%;
	text-align : center;
	transition : transform 0.8s;
	transform-style: preserve-3d; 
}
.card.flipped .card-inner {
	transform: rotateX(180deg);
}
.card-front, .card-back {
	position: absolute;
	top:0%;
	bottom:0%;
	width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 10px;
	box-shadow: 1px 1px 4px black;
	box-sizing: border-box;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
	font-weight: bold;
	font-size  : 30px;
}
.card-back {
	transform: rotateX(180deg);
}

.text{
	font-weight : 500;
	font-size   : 34px; 
	margin-left : 190px;
	margin-top  : 270px;
	float       : left;
	font-family : Yoon 윤고딕 700;
}

#subject_view{
	height : 3300px;
}

#sel2{
	height     : 180px;
	width      : 500px;
	font-size  : 20px;
	font-weight: bold;
}

#text_area{
	margin-left : 10px;
}

#q_text{
	resize        : none;
	width         : 80%;
	height        : 50px;
	display       : block;
	margin-bottom : 5px;
}

#a_text{
	resize  : none;
	width   : 80%;
	height  : 60px;
	display : block;
}

#btn_insert{
	margin-top  : 10px;
	margin      : left;
	margin-left : 200px;
}

#text_insert{
	margin-left   : 10px;
	width         : 100%;
	float         : right;
}

#card_box{
	width         : 50%;
	margin-top    : 20px;
	margin-bottom : 40px;
	height        : 250px;
}

#last_btn{
	margin       :10px;
	margin-right :10px;
	display      : block;
}

.count{
	font-weight: bold;
	font-size  : 30px;
}

.ment{
	font-size   : 28px;
	font-weight : 500px;
}